/*Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Open Sans', sans-serif !important;
 }
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}
p{
	margin:0;
}
ul{
margin:0;
padding:0;
}
/*-- banner --*/
.banner{
background:#ced7df;
}
/*-- menu --*/
.nav-right span{
	display:none;
	}
/*-- //menu --*/
.banner-grids{
margin-top:50px;
}
.navigation {
  padding-top: 18px;
  padding-left: 40px;
}
.nav-right ul {
  padding: 0;
  margin: 38px 0 0 0;
}
.nav-right ul li{
display:block;
  line-height: 4.2em;
}
.nav-right ul li a {
  color: #323b43;
  margin: 0px 0px;
  font-size: 17px;
  padding: 11px 104px;
  background: #fff;
  font-weight: 600;
  text-decoration: none;
}
.nav-left a {
  font-size: 11em;
  font-weight: 600;
 color: #23232b;
  text-transform: uppercase;
  text-decoration: none;
font-family: 'Jockey One', sans-serif;
}
.nav-right ul li:nth-child(2) a {
  padding: 11px 90px;
}
.nav-right ul li:nth-child(1) a {
  padding: 11px 62px;
}
.nav-right ul li:nth-child(4) a {
  padding: 11px 90px;
}
.nav-right ul li:nth-child(5) a {
  padding: 11px 62px;
}
.nav-right ul li a:hover{
	color:#323b43;
	transition:.5s all;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	}

/*-- //banner --*/
/*-- effect for nav --*/
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
/*-- //effect --*/
/*-- my skills --*/
/*--- circles --*/

/*--//gallery--*/

/* Kumya */
.link--kumya {
	font-size: 6.5em;
	overflow: hidden;
	line-height: 1;
	
	color:#4eacff;
}

.link--kumya:hover {
	color: #fff;
}

.link--kumya::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	background: #242424;
	-webkit-transform: translate3d(101%,0,0);
	transform: translate3d(101%,0,0);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--kumya:hover::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.link--kumya span {
	display: block;
	position: relative;
}

.link--kumya span::before {
	content: attr(data-letters);
	position: absolute;
	color:#4eacff;
	left: 0;
	overflow: hidden;
	white-space: nowrap;
	width: 0%;
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--kumya:hover span::before {
	width: 100%;
}



/*-- responsive media queries --*/
@media (max-width: 1024px){
	.nav-left a {
	  font-size: 8em;
	  }
	.nav-right ul li a {
	  font-size: 15px;
	  padding: 10px 70px;
	  }
	.nav-right ul {
	  margin: 27px 0 0 0;
	}
	.nav-right ul li {
	  line-height: 3.8em;
	}
	.nav-right ul li:nth-child(2) a ,.nav-right ul li:nth-child(4) a {
	  padding: 10px 55px;
	}
	.nav-right ul li:nth-child(1) a,.nav-right ul li:nth-child(5) a {
	  padding: 10px 45px;
	}



@media (max-width: 800px){
	.navigation {
	  float: left;
	  width: 30%;
	}
	.banner-image {
	  float: left;
	  width: 70%;
	}
	.banner-image img {
	  width: 65%;
	}
	.banner-grids {
	  margin-top: 35px;
	}
	.nav-left a {
	  font-size: 7em;
	}
	.nav-right ul li a {
	  font-size: 14px;
	  padding: 8px 47px;
	}
	.nav-right ul li:nth-child(2) a ,.nav-right ul li:nth-child(4) a {
	  padding: 8px 37px;
	}
	.nav-right ul li:nth-child(1) a,.nav-right ul li:nth-child(5) a {
	  padding: 8px 27px;
	}
	.nav-right ul li {
	  line-height: 3.5em;
	}
	.nav-right ul {
	  margin: 23px 0 0 0;
	}
	
}
@media (max-width: 768px){
	.navigation {
	  float: left;
	  width: 30%;
	}
	.banner-image {
	  float: left;
	  width: 70%;
	}
	.banner-image img {
	  width: 65%;
	}
	.banner-grids {
	  margin-top: 35px;
	}
	.nav-left a {
	  font-size: 7em;
	}
	.nav-right ul li a {
	  font-size: 14px;
	  padding: 8px 47px;
	}
	.nav-right ul li:nth-child(2) a ,.nav-right ul li:nth-child(4) a {
	  padding: 8px 37px;
	}
	.nav-right ul li:nth-child(1) a,.nav-right ul li:nth-child(5) a {
	  padding: 8px 27px;
	}
	.nav-right ul li {
	  line-height: 3.5em;
	}
	.nav-right ul {
	  margin: 23px 0 0 0;
	}
	
}
@media (max-width: 640px){
	.nav-left a {
	  font-size: 5.5em;
	}
	.navigation {
	  padding-top: 0;
	}
	.nav-right ul {
	  margin: 19px 0 0 0;
	}
	.nav-right ul li a {
	  font-size: 13px;
	  padding: 8px 30px;
	}
	.nav-right ul li:nth-child(2) a ,.nav-right ul li:nth-child(4) a {
	  padding: 8px 20px;
	}
	.nav-right ul li:nth-child(1) a,.nav-right ul li:nth-child(5) a {
	  padding: 8px 10px;
	}
	.nav-right ul li {
	  line-height: 3.2em;
	}
	
}
@media (max-width: 480px){
	.navigation {
	  padding: 0 10px;
	}
	.nav-left a {
	  font-size: 4em;
	}
	.nav-right ul {
	  margin: 10px 0 0 0;
	}
	.banner-image img {
	  width: 81%;
	}
	.nav-right ul li a {
	  padding: 8px 11px;
	}
	.nav-right ul li:nth-child(2) a ,.nav-right ul li:nth-child(4) a {
	  padding: 8px 7px;
	}
	.nav-right ul li:nth-child(1) a,.nav-right ul li:nth-child(5) a {
	  padding: 8px 4px;
	}
	
}
@media (max-width: 320px){
.navigation {
padding:0;
  width: 100%;
  text-align: center;
}
	span.menu img{
	width:98%;
	}
	span.menu {
	   display: block;
	  cursor: pointer;
	  position: relative;
	  text-align: right;
  width: 100%;
  margin: 0px 0 0px 0px;
	}
	ul.nav1{
		display:none;
		background:#ced7df;
		}
	.nav-right ul.nav1 li {
		display: inline-block;
		text-align: center;
		margin: 0;
		width: 100%;
		padding: 0px 0;
		}
	.nav-right ul {
		  background:#ced7df;
		  position: absolute;
			padding: 0px 0;
		  margin: 0;
		  top:44px;
		  left: 0%;
		  width: 100%;
		  z-index: 999;
		  width: 100%;
		}
	.nav-right ul li a {
		  display:block;
		  margin:0px 0;
		}

	.nav-right {
	   width: 12%;
	  margin: 6px 0 0 0;
	  float: right;
	}
	.nav-right ul li {
	  line-height: 1.5em;
	}
	.banner-grids {
	  margin-top: 20px;
	}
	.nav-left a {
	  font-size: 3em;
	}
	.nav-left {
	  width: 29.2%;
	  float:left;
	}
	.banner-image img {
	  width: 55%;
	}
	.banner-image {
	  margin-top: 30px;
	padding:0;
	  width: 100%;
	}
	
}
/*-- //responsive media queries --*/